<!DOCTYPE html>
<html lang="en">
<head>
	<title>Book Store</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" type="text/css" href="~/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="~/icomoon/icomoon.css">
	<link rel="stylesheet" type="text/css" href="~/css/vendor.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">

	<!-- script
	================================================== -->
	<script src="~/js/modernizr.js"></script>

</head>
<body>
	<div id="header-wrap">

		<div class="top-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="social-links">
							<ul>
								<li>
									<a href="#"><i class="icon icon-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-youtube-play"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-behance-square"></i></a>
								</li>
							</ul>
						</div><!--social-links-->
					</div>
					<div class="col-md-6">
						<div class="right-element">
							<partial name ="_LoginPartial"/>
							<div class="action-menu">
								<div class="search-bar">
									<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
										<i class="icon icon-search"></i>
									</a>
									<form asp-controller="Products" asp-action="SearchProduct" method="post" class="search-box">
										<input class="search-field text search-input" type="text" placeholder="Search" name="searchString">
									</form>
								</div>
							</div>

						</div><!--top-right-->
					</div>

				</div>
			</div>
		</div><!--top-content-->

		<header id="header">
			<div class="container">
				<div class="row">

					<div class="col-md-2">
						<div class="main-logo">
							<a href="/"><img src="~/images/main-logo.png" alt="logo"></a>
						</div>

					</div>

					<div class="col-md-10">

						<nav id="navbar">
							<div class="main-menu stellarnav">
								<ul class="menu-list">
									<li class="menu-item active"><a href="/Home/Index" data-effect="Home">Home</a></li>
									<li class="menu-item"><a href="#about" class="nav-link" data-effect="About">About</a></li>
									<li class="menu-item">
										<a asp-area="" asp-controller="Products" asp-action="List">Shop</a>
									</li>
								</ul>

								<div class="hamburger">
									<span class="bar"></span>
									<span class="bar"></span>
									<span class="bar"></span>
								</div>

							</div>
						</nav>

					</div>

				</div>
			</div>
		</header>

	</div><!--header-wrap-->
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">

					<div class="footer-item">
						<div class="company-brand">
							<img src="~/images/main-logo.png" alt="logo" class="footer-logo" id="about">
							<p>Bonkers is an online book store that offers a wide variety of books for book lovers of all ages and interests. From bestsellers to niche genres, Bonkers has something for everyone. Customers can easily browse through the website and purchase their favorite books with just a few clicks. With a user-friendly interface and affordable prices, Bonkers makes buying books online an enjoyable and convenient experience. </p>
						</div>
					</div>

				</div>

				<div class="col-md-2">
				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Discover</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Home</a>
							</li>
							<li class="menu-item">
								<a asp-action="Products" asp-action="List">Books</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>My account</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a class="user-account for-buy" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
							</li>
							<li class="menu-item">
								<a asp-controller="Cart" asp-action="GetUserCart">View Cart</a>
							</li>
							<li class="menu-item">
								<a asp-controller="UserOrder" asp-action="UserOrders">Track My Order</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Help</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Help center</a>
							</li>
							<li class="menu-item">
								<a href="#">Report a problem</a>
							</li>
							<li class="menu-item">
								<a href="#">Suggesting edits</a>
							</li>
							<li class="menu-item">
								<a href="#">Contact us</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="copyright">
						<div class="row">

							<div class="col-md-6">
								<p>© 2022 All rights reserved. Bonkers</p>
							</div>

							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="#"><i class="icon icon-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-youtube-play"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-behance-square"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->
			</div>
		</div>
	</div>
	<script src="~/js/jquery-1.11.0.min.js"></script>
	<script src="~/js/plugins.js"></script>
	<script src="~/js/script.js"></script>
	<script>
		loadCartCount();
		async function loadCartCount() {
			try {
				var response = await fetch(`/Cart/GetTotalItemInCart`);
				if (response.status == 200) {
					var result = await response.json();
					console.log(result);
					var cartCountEl = document.getElementById("cartCount")
					cartCountEl.innerHTML = result;
				}
			}
			catch (err) {
				console.log(err);
			}
		}
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>


</html>
