@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<a href="/Cart/GetUserCart" class="cart for-buy"><i class="icon icon-clipboard"></i><span id="cartCount">0</span></a>
@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="user-account for-buy" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <i class="icon icon-user"></i><span>Account</span>
        @if (User.IsInRole("Admin"))
        {
            <span>(Admin)</span>    
        }
    </a>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <input id="logout" type="submit" class="user-account for-buy" value="Logout"/>
    </form>
}
else
{
    <a class="user-account for-buy" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}

