
*.vsidx
.vs/ASM/FileContentIndex/578b0d36-25de-42f9-92fd-0e7392b5624d.vsidx
.vs/ASM/FileContentIndex/cdf22924-bf04-4c6a-8c71-74fb2bbf1654.vsidx
.vs/ASM/DesignTimeBuild/.dtbcache.v2
.vs/ASM/DesignTimeBuild/.dtbcache.v2
