@using Microsoft.AspNetCore.Identity

@model IdentityUser
@{
    ViewData["Title"] = "EditStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditStaff</h1>

<div class="col-md-4">
    <form asp-action="EditStaff">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="form-floating mb-3">
            <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="UserName">UserName</label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Email">Email</label>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="ViewStaff">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

