@using Microsoft.AspNetCore.Identity

@model List<IdentityUser>

@{
    ViewData["Title"] = "ViewStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Staff List</h1>
<p>
    <a asp-action="CreateStaff">Create Staff</a>
</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            <tr>
                <td>@staff.Id</td>
                <td>@staff.UserName</td>
                <td>@staff.Email</td>
            </tr>
        }
    </tbody>
</table>

